.banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 383px;
    padding-bottom: 57px;
}

.header-banner {
    background: url(../images/banner.jpg) center/cover no-repeat;
    background-size: cover;
    width: 100%;
    height: 765px;
}

.banner-text {
    font-family: 'Ruda', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 66px;
    line-height: 75px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    overflow-y: hidden;
}
.banner-tagline {
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 25px;
}
.banner-button {
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #CAE9EB;
    text-decoration: none;
    padding: 20px 23px;
    margin-top: 50px;
    border: 2px solid #CAE9EB;
    border-radius: 10px;
    background-color: transparent;
    cursor: pointer;
}

.banner-button:hover {
    background: #CAE9EB;
    color: #000;
}

