.mentoring {
    padding: 100px 0px 100px 0px;
}
.personaliz-last {
    margin-bottom: 0px !important;
}
.mentoring-content {
    display: grid;
    grid-template-columns: 50% 50%;
}
.mentoring-is {
    font-family: 'Ruda', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    color: #000000;
}
.mentoring-info:nth-child(2) {
    margin-top: 25px;
}
.personalization {
    display: grid;
    grid-template-columns: 75px 25px auto;
    margin-top: 25px;
    margin-bottom: 25px;
}
.personal-img {
    margin-right: 25px;
}

.personalization-info-text-1 {
    font-family: 'Ruda', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    text-transform: uppercase;
    color: #EB6FFF;
}
.personalization-info-text-2 {
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 25px;
    color: #000000;
    margin-top: 10px;
    max-width: 488px;
}
.mentoring-image {
    margin-top: 161px;
}
