@import './header-menu.css';
@import './banner.css';
@import './figures.css';
@import './mission.css';
@import './about.css';
@import './about-diplom.css';
@import './work-format.css';
@import './mentoring.css';
@import './cases.css';
@import './who-do-i-work-with.css';
@import './rates.css';
@import './plan.css';
@import './services.css';
@import './what-is-barre.css';
@import './reviews.css';
@import './footer.css';
@import './hamburger.css';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0px 15px;
    width: 100%;
}


@media (max-width: 1900px) {
    .triangle-one {
        max-width: 40.73%;
        width: 100%;
    }
    .triangle-two {
        width: 39.73%;
    }
}
@media (max-width: 1800px) {
    .triangle-one {
        max-width: 40.13%;
        width: 100%;
    }
    .triangle-two {
        width: 39.13%;
    }
}
@media (max-width: 1700px) {
    .triangle-one {
        max-width: 39.73%;
        width: 100%;
    }
    .triangle-two {
        width: 38.73%;
    }
    .two {
        left: 538px;
    }
}
@media (max-width: 1500px) {
    .triangle-one {
        max-width: 38.13%;
        width: 100%;
    }
    .triangle-two {
        width: 37.13%;
    }
    .two {
        left: 450px;
    }
    .three {
        left: 319px;
    }
    .four {
        left: 587px;
    }
    .five {
        left: 740px;
    }
}
@media (max-width: 1300px) {
    .triangle-one {
        max-width: 36.13%;
        width: 100%;
    }
    .triangle-two {
        width: 35.13%;
    }
    .three {
        left: 219px;
    }
    .four {
        left: 487px;
    }
    .five {
        left: 640px;
    }
    .nine {
        left: 200px;
    }
}

@media (max-width: 1216px) {
    .elem-disgn {
        max-width: 232.5px;
    }
    .elem-disgn-text-1 {
        font-size: 13px;
        line-height: 20px;
    }
    .elem-disgn-text-2 {
        font-size: 12px;
        line-height: 17px;
    }
    .min-height {
        min-height: 154.5px;
    }
    .triangle-border-left::before {
        top: 60px;
    }
    .triangle-border-right::after {
        top: 60px;
    }
    .what-is-barre {
        margin-top: 0px;
    }
    .about-button {
        margin-top: 0px;
    }
    .about-content-mobile {
        display: block;
        margin-bottom: 100px;
    }
    .arrow-slider-mobile {
        display: flex;
    }
    .about-content {
        display: none;
    }
    .mod {
        max-width: 960px;
        background: transparent;
    }
    .mentoring-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .mentoring-image {
        margin-top: 50px;
    }
    .cases-arrow {
        max-width: 600px;
    }
    .cases-slider {
        max-width: 383px;
    }
    .rates-cards {
        flex-wrap: wrap;
        justify-content: center;
    }
    .atmosphere {
        position: static;
        margin: 0 auto;
    }
    .services-info {
        display: none;
    }
    .services-info-mobile {
        display: flex;
    }
    .any-training-text {
        text-align: center;
    }
    .kate-img {
        width: 417px;
    }
    .plan-consult {
        margin-left: 0px;
    }
    .services-content {
        flex-wrap: wrap;
    }
    .arrow-button {
        max-width: 1035px;
    }
    .cases-arrow {
        max-width: 520px;
        width: 100%;
    }
    .who-button {
        max-width: 1035px;
    }
    .triangle-one {
        display: none;
    }
    .triangle-two {
        display: none;
    }
    .mission-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .mission-column-2 {
        overflow: hidden;
        position: relative;
        right: 30px;
    }
    .two {
        left: 315px;
    }
    .three {
        left: 169px;
    }
    .four {
        left: 437px;
    }
    .five {
        display: none;
    }
    .seven {
        display: none;
    }
    .eight {
        top: 5560px;
        right: 217px;
    }
    .nine {
        top: 5790px;
        left: 200px
    }
    .ten {
       display: none;
    }
    .eleven {
        display: none;
    }
    .twelve {
        display: none;
    }
    .banner-text {
        font-size: 50px;
        width: 1000px;
    }
    .container {
        max-width: 960px;
        width: 100%;
    }
    .privat {
        margin-right: 0px;
    }
}
@media (max-width: 1014px) {
    .nine {
        display: none;
    }
    .header-menu {
        height: 65px;
    }
    .menu__btn {
        top: 20px;
    }
    .min-padding {
        padding-bottom: 22px;
    }
    .min-padding-big {
        padding-bottom: 39px;
    }
    .new-design {
        display: none;
    }
    .new-design-mobile {
        display: flex;
    }
    .pc-menu {
        display: none;
    }
    .hamburger-menu {
        display: block;
    }
    .footer-content {
        justify-content: center;
        flex-direction: column;
    }
    .contacts-text {
        text-align: center;
    }
    .contacts {
        margin-bottom: 40px;
    }
    .politics {
        text-align: center;
        margin-bottom: 40px;
    }
    .header-menu-content>ul>li {
        font-size: 14px;
    }
    .banner-text {
        font-size: 37px;
        width: 768px;
    }
    .banner-tagline {
        font-size: 14px;
    }
    .container {
        max-width: 768px;
        width: 100%;
    }
    .about-content-mobile {
        max-width: 768px;
    }
    .diploms-container {
        max-width: 622px;
        width: 100%;
    }
    .arrow-button {
        max-width: 740px;
    }
    .work-format-text {
        font-size: 20px;
    }
    .who-slide-text {
        font-size: 15px;
    }
    /* .who-do-slide-img {
        width: 768px;
        height: 385px;
    } */
    .who-button {
        max-width: 845px;
        bottom: 225px;
    }
    .tagline-team {
        font-size: 17px;
    }
    .kate-img {
        display: none;
    }
    .plan-content {
        margin-bottom: 50px;
    }
    .video {
        max-width: 768px;
    }
    .video-size {
        height: 432px;
    }
     .reviews-slider {
         max-width: 281px;
     }
     .reviews-arrow {
         max-width: 400px;
     }
}
@media (max-width: 848px) {
    .work-format-text {
        line-height: 30px;
    }
    .banner-text {
        line-height: 45px;
    }
    .m-left-29 {
        margin-right: 20px;
    }
    .m-left-36 {
        margin-right: 20px;
    }
    .diagramma  {
        max-width: 500px;
        width: 100%;
    }
    .container {
        max-width: 500px;
        width: 100%;
    }
    .banner-text {
        font-size: 25px;
        width: 440px;
    }
    .banner-tagline {
        font-size: 12px;
    }
    .mission-column-1 {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .mission-text-left {
        margin-top: -80px;
    }
    .mission-column-2 {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        position: static;
        margin-top: 0px;
    }
    .mission-text-right {
        top: 72px;
        left: 40px;
    }
    .mod {
        max-width: 500px;
    }
    .about-content-mobile {
        max-width: 210px;
    }
    .arrow-slider-mobile {
        max-width: 320px;
    }
    .diploms-container {
        max-width: 311px;
        width: 100%;
    }
    .arrow-button {
        max-width: 400px;
    }
    .work-format-text {
        font-size: 14px;
    }
    .cases-arrow {
        max-width: 500px;
    }
    .who-slide-text {
        font-size: 10px;
    }
    .who-button {
        max-width: 600px;
        bottom: 160px;
    }
    .eight {
        display: none;
    }
    .nine {
        display: none;
    }
    .tagline-team {
        font-size: 11px;
    }   
    .arrow-text-barre {
        font-size: 18px;
    }
    .arrow-text-price {
        font-size: 20px;
        margin-left: 0px;
    }
    .image-arrow {
        margin-left: 25px;
    }
    .video {
        max-width: 500px;
    }
    .video-size {
        height: 289px;
    }
    
}
@media (max-width: 620px) {
    .personal-img {
        max-width: 50px;
        width: 100%;
    }
    .personalization-info-text-1 {
        font-size: 15px;
    }
    .personalization-info-text-2 {
        font-size: 13px;
    }
    .personalization {
        grid-template-columns: 50px 25px auto;
    }
    .work-format-text {
        line-height: 25px;
    }
    .triangle-border-right::after {
        top: 99%;
        border-top-color: #CAE9EB;
        left: 43%;
        border-left-color: transparent;
    }
    .triangle-border-left::before {
        top: 99%;
        border-top-color: #CAE9EB;
        right: 43%;
        border-left-color: transparent;
    }
    .none-triangle::after {
        border-top-color: transparent;
    }
    .elem-disgn {
        padding-top: 25px;
    }
    .mobile-color::before {
        border-top-color: #EB6FFF;
    }
    .mobile-color {
        background-color: #EB6FFF;
        color: #fff;
    }
    .mobile-color p {
        color: #fff;
    }
    .image-mobile-design {
        display: none;
    }
    .mission-text-left {
        margin-left: -30px;
    }
    .mission-text-right {
        left: 5px;
    }
    .privat-button {
        font-size: 12px;
    }
    .basic-button {
        font-size: 14px;
    }
    .individ-mentor {
        font-size: 12px;
    }
    .individ-mentor-black {
        font-size: 12px;
    }
    .mentoring-image {
        display: none;
    }
    .container {
        max-width: 350px;
        width: 100%;
    }
    .mission-column-1 {
        max-width: 350px;
        width: 100%;
    }
    .mission-column-2 {
        max-width: 350px;
        width: 100%;
    }
    .diploms-container {
        max-width: 311px;
        width: 100%;
    }
    .work-format-text {
        font-size: 10px;
    }
    .fitness-body {
        display: none;
    }
    .mod-cont {
        max-width: 350px;
    }
    .who-button {
        max-width: 410px;
        width: 100%;
        bottom: 115px;
    }
    .d-flex-text {
        font-size: 11px;
    }
    .d-flex-text-black {
        font-size: 11px;
    }
    .image-arrow {
        display: none;
    }
    
    .video {
        max-width: 350px;
    }
    .video-size {
        height: 200px;
    }
    .banner-text {
        max-width: 350px;
        width: 100%;
        font-size: 19px;
        line-height: 40px;
    }
    .banner {
        padding-top: 320px;
    }
    .four {
        display: none;
    }
    .two {
        display: none;
    }
    .three {
        display: none;
    }
    .six {
        display: none;
    }
    .our-services-mobile {
        font-size: 20px;
    }
    .arrow-text-price {
        font-size: 16px;
    }
    .arrow-text-barre {
        font-size: 16px;
    }
    .image-arrow-mobile {
        display: none;
    }
}
@media (max-width: 500px) {
    .video {
        max-width: 320px;
        width: 100%;
    }
    .video-size {
        height: 180px;
    }
}
@media (max-width: 348px) {
    .menu__box {
        width: 265px;
    }
}